---
layout: base
---
.hero-unit
  %h1 NodeJ
  %p 
    NodeJ is a 
    %a{:href=>'http://nodejs.org'} node.js
    compatible framework, running on the JVM powered by the
    %a{:href=>'http://dynjs.org'} DynJS 
    Javascript runtime running under
    %a{:href=>'http://vertx.io'} vert.x
    :plain
      - the polyglot application platform and event bus.
    
  %p
    Imagine running your Node.js app on the JVM with clean, clear access
    to Java directly in your Javascript.  All that with vert.x's powerful
    clustering technology built right in.

.row
  .span4
    %h2 Open Source
    %p 
      NodeJ is an open source project, distributed with the 
      %a{:href=>'https://github.com/projectodd/nodej/blob/master/LICENSE'}
        Apache license
      and is copyrighted by the original authors.
      You can find the NodeJ source code on 
      %a{:href=>'http://github.com/projectodd/nodej'} GitHub.

  .span4
    %h2 Related Projects
    %p 
      NodeJ is dependent on a couple of other awesome open source projects.

    %dl
      %dt
        %a{:href=>'http://dynjs.org'} DynJS
      %dd The Javascript runtime that makes all of this work.
    %dl
      %dt
        %a{:href=>'http://vertx.io'} Vert.x
      %dd The polyglot, massively scalable application platform.

  .span4
    %h2 Get Involved
    %p 
      NodeJ is a very new project.  There's a lot of work to do. If you want
      to help out, join us in 
      %a{:href=>'irc://irc.freenode.net/dynjs'} dynjs 
      on freenode and let us know how you'd like to help.  We love
      contributors!
