.jumbotron
  h1 Nodyn

  :markdown
    Nodyn is a [Node.js](http://nodejs.org) compatible framework, running on
    the JVM powered by the [DynJS](http://dynjs.org) Javascript runtime.

.row
  .col-md-4.detail
    h2 Open Source
    :markdown
      Nodyn is an open source project, distributed with the
      [Apache](https://github.com/nodyn/nodyn/blob/master/LICENSE)
      software license.  You can find the Nodyn source code on
      [GitHub](http://github.com/nodyn/nodyn).

      The Nodyn project is produced by the [project:odd](http://projectodd.org)
      team, and a part of the [JBoss](http://jboss.org) polyglot ecosystem.
    hr

  .col-md-4.detail
    h2 Related Projects
    p
      a(href='http://jboss.org')
        img(src='/images/jbosscommunity-logo.png', alt='JBoss.org')
      a(href='http://projectodd.org', style='margin-left:28px')
        img(src='/images/projectodd-logo.png', alt='ProjectOdd.org')
    dl
      dt
        a(href='http://dynjs.org') DynJS
      dd The JS runtime that makes all of this work.
    dl
      dt
        a(href='http://netty.io') Netty
      dd Netty provides the asynchronous glue.
    hr


  .col-md-4.detail
    h2 Get Involved
    :markdown
      Nodyn is a young project.  If you'd like to help out, join us in
      [#nodyn](irc://irc.freenode.net/nodyn) on freenode and let us know how
      you'd like to help.  We love contributors!

      Find a bug? [Tell us](http://github.com/nodyn/nodyn/issues) about it, or
      send us a pull request.

      Join the conversation on our
      [Google Group](https://groups.google.com/forum/#!forum/nodyn).
    hr
