// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

body {
  div.api {
    h3 {
      font-size: 20px;
      line-height: 30px;
    }
    dt {
      font-size: 16px;
      line-height: 30px;
      margin-top: 8px;
    }
    dd ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    margin-bottom: 16px;
    margin-top: 16px;
    border-top: 1px solid #ddd;
  }

  .navbar .nav>li>a {
    font-size: 16px;
  }

  .navbar .nav>li>a.brand {
    font-size: 20px;
  }
}
