// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

body {
  .paragraph {
    .title {
      font-family: "Josefin Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 18.5px;
      font-weight: bold;
      margin-top: 20px;
    }
  }
}
